<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5a2bb2fdda.js" crossorigin="anonymous"></script>
    <title>MINT</title>
    <link rel="icon" href="/static/logo.png" type="image/x-icon">

    <style>
        /* Custom Styles */
        body {
            background-color: #f8f9fa;
        }

        .navbar {
            background-color: #D2691E;
        }

        .container {
            margin-top: 50px;
        }

        .jumbotron {
            background: url('https://images.unsplash.com/photo-1434030216411-0b793f4b4173?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') center/cover no-repeat;
            background-color: rgba(255, 255, 255, 0.7);
            color: white;
            text-align: center;
            padding: 150px 0;
        }

        .jumbotron h1 {
            font-size: 3em;
            color: black;
        }

        .jumbotron p {
            font-size: 2em;
            color: black;
        }

        .features {
            background-color: #e9ecef;
            padding: 60px 0;
        }

        .feature-icon {
            font-size: 3rem;
            margin-bottom: 20px;
        }

        .footer {
            background-color: #D2691E;
        }

        .hero.is-success {
            background-color: #6A994E;
            color: white;
        }

        /* Rounded corners and box shadow for UKM cards */
        .ukm {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-bottom: 20px;
        }
    </style>
</head>
<nav>
    <a href="#" id="backButton" class="back-button">&#9664; Kembali ke halaman sebelumnya</a>
</nav>

<body>
    <!-- Header Section -->
    <header class="jumbotron">
        <div class="container">
            <h1 class="display-4" style="color: black;">Unit Kegiatan Mahasiswa - Pendidikan</h1>
        </div>
    </header>

    <!-- Main Content Section -->
    <main>

        <!-- Deskripsi Rumpun Pendidikan -->
        <section class="section">
            <div class="container">
                <div style="text-align:center">
                    <h2>Deskripsi</h2>
                </div>
                <p>
                    UKM Rumpun Pendidikan merupakan wadah dinamis bagi mahasiswa yang memiliki minat dalam pengembangan
                    pendidikan. Dengan fokus pada inovasi, UKM ini mengajak anggotanya untuk terlibat dalam berbagai
                    kegiatan yang mendukung pengembangan keterampilan pedagogis dan kepemimpinan di dunia pendidikan.
                    Melalui diskusi, pelatihan, dan proyek-proyek edukatif, UKM Rumpun Pendidikan bertujuan menciptakan
                    lingkungan yang memfasilitasi pertukaran ide dan kontribusi positif terhadap dunia pendidikan.
                </p>
            </div>
        </section>

        <!-- Kabar Terkini -->
        <section class="hero is-success">
            <div class="hero-body">
                <div class="container">
                    <h2 style="text-align: center;">Kabar Terkini</h2>
                    <p style="margin-bottom: 50px;">
                        Dalam serangkaian kegiatan yang dinamis dan bermanfaat, UKM Rumpun Pendidikan (EdukasiMaju)
                        telah sukses menyelenggarakan webinar inspiratif bertema "Membangun Pendidikan Berkualitas."
                        Webinar ini dihadiri oleh mahasiswa dari berbagai jurusan, membahas strategi dan tantangan dalam
                        meningkatkan kualitas pendidikan di lingkungan kampus.

                        Selain itu, EdukasiMaju juga meraih prestasi gemilang dalam lomba inovasi pendidikan tingkat
                        nasional dengan proyek "EdukasiKreatif." Proyek ini menggabungkan elemen kreativitas dan
                        teknologi untuk menciptakan pengalaman pembelajaran yang lebih interaktif dan menyenangkan bagi
                        mahasiswa.

                        Komitmen EdukasiMaju dalam pengembangan pendidikan karakter juga terwujud melalui kegiatan
                        pelatihan kepemimpinan dan nilai-nilai positif. Anggota UKM aktif terlibat dalam proyek sosial
                        "EduCare," memberikan bantuan pendidikan kepada anak-anak di daerah sekitar kampus.

                        Terus pantau berita selanjutnya dari EdukasiMaju untuk insight edukatif dan berita terkini
                        seputar dunia pendidikan!
                    </p>
                </div>
            </div>
        </section>

        <!-- Daftar UKM -->
        <section class="section">
            <div class="container">
                <div class="ukm-container">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <!-- UKM 1 -->
                                <div class="ukm">
                                    <h3>UKM Mentari</h3>
                                    <p><strong>Deskripsi:</strong> UKM Membaca dan Menulis, atau dikenal sebagai
                                        Mentari, adalah wadah yang mengusung semangat untuk meningkatkan minat baca dan
                                        menulis di kalangan mahasiswa. Mahasiswa dalam UKM ini berkumpul untuk
                                        menjelajahi berbagai genre literatur, berbagi pandangan, dan mengasah
                                        keterampilan menulis kreatif. Setiap bulan, Mentari menggelar diskusi buku yang
                                        melibatkan semua anggotanya, memberikan platform untuk berbagai perspektif dan
                                        pemahaman mendalam terhadap karya sastra.</p>
                                    <p><strong>Visi:</strong> Kami memiliki visi untuk menjadi pangkalan inspiratif yang
                                        mendorong pengembangan minat baca dan menulis kreatif di kalangan mahasiswa.
                                        Dengan membentuk komunitas yang berfokus pada literasi, kami bermimpi melihat
                                        mahasiswa menjadi pembaca aktif dan penulis berbakat.</p>
                                    <p><strong>Program Kerja:</strong> Program kerja Mentari mencakup serangkaian
                                        kegiatan yang mendukung tujuan utama kami. Mulai dari book club bulanan dengan
                                        seleksi buku yang beragam, workshop menulis untuk mengasah keterampilan, hingga
                                        kampanye literasi di sekolah-sekolah setempat untuk menjangkau lebih banyak
                                        orang dan berbagi semangat membaca dan menulis.</p>
                                    <p><strong>Alamat Sekertariat:</strong> Gedung M, Lantai 1.</p>
                                    <p><strong>Media Sosial:</strong> <a href="#">Instagram</a>, <a href="#">Twitter</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                                <!-- UKM 2 -->
                                <div class="ukm">
                                    <h3>UKM Karakterku</h3>
                                    <p><strong>Deskripsi:</strong> UKM Pengembangan Pendidikan Karakter, atau
                                        Karakterku, adalah komunitas mahasiswa yang berkomitmen untuk membina dan
                                        mengembangkan karakter mahasiswa. Melalui kegiatan-kegiatan edukatif, seminar,
                                        dan pelatihan kepribadian, Karakterku membantu mahasiswa dalam proses
                                        pertumbuhan dan pengembangan pribadi.</p>
                                    <p><strong>Visi:</strong> Karakterku bermimpi menjadi motor penggerak dalam
                                        membentuk karakter unggul dan berkualitas di kalangan mahasiswa. Kami percaya
                                        bahwa karakter yang kuat adalah dasar bagi kesuksesan dan kontribusi positif
                                        terhadap masyarakat.</p>
                                    <p><strong>Program Kerja:</strong> Kami menyelenggarakan berbagai kegiatan seperti
                                        seminar karakter yang melibatkan ahli bidang, pelatihan kepemimpinan untuk
                                        membentuk pemimpin masa depan, dan proyek sosial berbasis karakter untuk
                                        memberikan dampak positif kepada masyarakat sekitar.</p>
                                    <p><strong>Alamat Sekertariat:</strong> Gedung N, Lantai 3.</p>
                                    <p><strong>Media Sosial:</strong> <a href="#">Instagram</a>, <a href="#">Twitter</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                                <!-- UKM 3 -->
                                <div class="ukm">
                                    <h3>UKM EdTech</h3>
                                    <p><strong>Deskripsi:</strong> UKM Teknologi Pendidikan, atau yang akrab disapa
                                        EdTech, merupakan wadah bagi mahasiswa yang tertarik menggali potensi teknologi
                                        untuk meningkatkan metode pembelajaran. Kami fokus pada inovasi dalam dunia
                                        pendidikan dan berkomitmen untuk menghadirkan solusi kreatif melalui pemanfaatan
                                        teknologi.</p>
                                    <p><strong>Visi:</strong>EdTech bermimpi menjadi pusat kreativitas dan inovasi dalam
                                        pemanfaatan teknologi untuk meningkatkan kualitas pembelajaran di lingkungan
                                        kampus. Kami percaya bahwa teknologi dapat menjadi alat yang efektif untuk
                                        membantu mahasiswa dalam proses pembelajaran mereka.</p>
                                    <p><strong>Program Kerja:</strong> Program kerja EdTech melibatkan berbagai kegiatan
                                        seperti workshop teknologi pendidikan untuk membekali anggota dengan
                                        keterampilan terbaru, hackathon edukasi untuk mendorong inovasi, dan
                                        pengembangan aplikasi pembelajaran yang dapat memberikan kontribusi positif pada
                                        dunia pendidikan.</p>
                                    <p><strong>Alamat Sekertariat:</strong> Gedung M, Lantai .3</p>
                                    <p><strong>Media Sosial:</strong> <a href="#">Instagram</a>, <a href="#">Twitter</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-6">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-md-start">
                    <i class="fa-regular fa-envelope"></i>
                    <i class="bi bi-envelope-fill"></i> Text 2
                </div>
            </div>
        </div>
    </footer>
    <footer class="footer text-white text-center py-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-md-start">
                    <i class="bi bi-envelope-fill"></i> Text 1
                    <i class="bi bi-envelope-fill"></i> Text 2
                </div>
                <div class="col-md-6 text-md-end">
                    Develope By MiNT
                </div>
            </div>
        </div>
    </footer>

    <script>
        document.getElementById('backButton').addEventListener('click', function () {
            goBack();
        });

        function goBack() {
            window.history.back();
        }
    </script>
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>